!!!
%html{:lang => "en"}
  %head
    %title Footer
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
  %body
  .footer-basic
    %footer
      %ul.list-inline
        %li.list-inline-item
          %a{:href => "/"} Home
        %li.list-inline-item
          %a{:href => "#"} Services
        %li.list-inline-item
          %a{:href => "/about"} About
        %li.list-inline-item
      %p.copyright Zwiazek Stowarzyszen "Fandom Polski" © 2021

      %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"}
