%body



  %footer
    %hr/
    .footer-basic
      %div
        %ul.list-inline
          %li.list-inline-item
            %a{:href => "/"} Home
          %li.list-inline-item
            %a{:href => "/about"} About
          %li.list-inline-item
            %a{:href => "/contact"} Contact
          %li.list-inline-item
            %a{:href => "/admin"} Admin
          %li.list-inline-item
            %input#darkb{onclick: "DarkMode('Dark')", type: "checkbox", name: "dark mode"}
            %label.f-normal{:for => "dark mode"} Dark mode

      %div.copyright Związek Stowarzyszeń "Fandom Polski" © 2021
