%body
  %footer
    %hr/
    .footer-basic
      %div
        %ul.list-inline
          %li.list-inline-item
            %a{:href => "/"} Home
          %li.list-inline-item
            %a{:href => "/about"} About
          %li.list-inline-item
            %a{:href => "/contact"} Contact
          %li.list-inline-item
            %a{:href => "/admin"} Admin

      %div.copyright Związek Stowarzyszeń "Fandom Polski" © 2021
