!!!
%html{:lang => "en"}
  %head
    %title Footer
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
  %body
    %footer
      %hr/
      .footer-basic
        %div
          %ul.list-inline
            %li.list-inline-item
              %a{:href => "/"} Home
            %li.list-inline-item
              %a{:href => "/about"} About
            %li.list-inline-item
              %a{:href => "/contact"} Contact
        %div.copyright Związek Stowarzyszeń "Fandom Polski" © 2021
