%body
  %header.header
    %nav.navbar.navbar-expand-lg.fixed-top.py-3

      %div.header-logo
        = link_to image_tag( 'logo/zajdel-logo.png'), '/'

      %hr/
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link{:href => "/about"} About
        %li.nav-item
          %a.nav-link{:href => "/history"} History
        %li.nav-item
          %a.nav-link{:href => "/patron"} Janusz A. Zajdel
        %li.nav-item
          %a.nav-link{:href => "/laureates"} Laureates
        %li.nav-item
          %a.nav-link{:href => "/nominated_authors"} Nominated authors
        %li.nav-item
          %a.nav-link{:href => "/voting"} Voting
        %li.nav-item
          %a.nav-link{:href => "/contact"} Contact
      %hr/
      / </div>
