%body
  %h1 Nominated authors

  %table
    %tbody
      - @authors.each do |author|
        %tr{id: "author#{author.id}"}
          %td= author.first_name
          %td= author.surname
          %td= author.bio
