!!!
%html{:lang => "en"}
  %head
    %title Janusz A. Zajdel
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
  %body
    = render "shared/header"

    .content
      %h1= t('.title')
      %p= t('.about-zajdel')

    = render "shared/footer"
