// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//main layout styling
.about-left {
  text-align: justify;
  margin-right: 20px;
}

.about-right {
  margin-top: 66px;
}

.about-right img {
  max-width: 18rem;
}
.admin-buttons {
  display: flex;
  justify-content: center;
}


//main page styling
.home-content {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.banner-img {
  width: 100%
}

.laureates-container {
  display: flex;
  justify-content: space-evenly;
}

.cover-img {
  display: block;
  width: auto;
  height: 400px;
  margin-top: 20px;
}

.laureates-desc {
  width: 280px;
}

@media (max-width: 991.98px) {
    .laureates-container {
      flex-direction: column;
    }

    .admin-buttons {
      flex-direction: column;
      width: fit-content;
      margin: 0 auto;
    }
}
