!!!
%html{:lang => "en"}
  %head
    %title New Literary work
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
  %body
    = render "shared/header"

    .content
      %h1 New literary_work

      = render 'form'

      = link_to 'Back', literary_works_path

    = render "shared/footer"
